body{
    background-repeat: no-repeat;
    background-size: cover;
} 

.bg {
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    
}

.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #ffc906, #f55d10, #effb08);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    z-index: 1;
}

.boxC {
    margin-top: 60px;
    position: absolute;
    left: 23%;
    top: 5%;
    height: 75vh;
    width: 40vw;
    background-color: #ffc5c5;
    padding: 30px;
    z-index: 2;
    box-shadow: 0 0 50px 0px rgb(246, 61, 61);
}

.boxC1 {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.boxC2 {
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    width: 30vw;
}

#submit {
    background-color: white;
    border: 2px solid black;
    width: 7vw;
    font-size: large;
    font-weight: bold;
    padding: 7px;
    border-radius: 20px;
}

#submit:hover {
    cursor: pointer;
    background-color: #d2f828;
}

.contact-img {
    height: 30px;
    width: 30px;
    padding: 12px;
}

.boxR {
    display: flex;
    flex-direction: column;
    background-color: #6cd0d4;
    position: absolute;
    left: 110%;
    top: 6%;
    width: 23vw;
    color: white;
    box-shadow: 0 0 50px 0px white;
    padding: 10px;
}

.boxR1 {
    display: flex;
    margin-left: 10px;
}
.boxR1 h3 {
    display: flex;
    padding-top: 15px;
}

.boxR2 {
    margin-left: 20px;
    margin-right: 10px;
    color: #00000099;
    font-style: italic;
}

.boxIcons {
    position: absolute;
    top: 3%;
    left: 40%;
}
